body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: rgb(41, 39, 39);
    font-weight: 800;
}

.container-max {
    border-radius: 35px;
    /* margin: 200px 500px 300px 500px; */
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.144);
}