@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: rgb(41, 39, 39);
    font-weight: 800;
}

.container-max {
    border-radius: 35px;
    /* margin: 200px 500px 300px 500px; */
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.144);
}

.violet-card {
    border-radius: 0 0 35px 35px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(120,87,255,1) 3%, rgba(46,43,233,1) 66%);
}

.violet-card__your-result {
    font-weight: 500;
    margin-top: 20px;
    font-size: medium;
    color: hsl(227, 11%, 84%);
}

.violet-card__score {
    background-color: rgb(72, 12, 238);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    width: 166px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.violet-card__num {
    font-weight: 800;
    font-size: 66px;
    color: hsl(0, 0%, 100%);
}

.violet-card__num-of {
    color: hsl(225, 8%, 61%);
    font-weight: 500
}

.violet-card__great {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 3px;
    color: hsl(0, 0%, 100%);
}

.violet-card__text {
    margin: 0 60px 0 60px;
    color: hsl(228, 2%, 54%);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.white-card {
    border-radius: 35px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.white-card__summary {
    font-weight: 700;
    font-size: 23px;
    margin: 35px 0 15px 15px;    
    color: hsl(223, 20%, 21%);
}

.white-card__sector {
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 20px;
    width: 330px;
    height: 110px;
    font-weight: 500;
    font-size: 16px
}

.white-card__reaction {
    color: hsl(0, 100%, 67%);
    margin: 0 0 0 10px;
    display: flex;
    font-size: 14px;
    
}

.white-card__memory {
    color: hsl(39, 100%, 56%);
    margin: 0 0 0 10px;
    display: flex;
    font-size: 14px;
}

.white-card__verbal {
    color: hsl(166, 100%, 37%);
    margin: 0 0 0 10px;
    display: flex;
    font-size: 14px;
}

.white-card__visual {
    color: hsl(234, 85%, 45%);
    margin: 0 0 0 10px;
    display: flex;
    font-size: 14px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.137);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.13);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.096);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.116);
}

.white-card__score {
    margin: 0 10px 0 0;
}

button {
    width: 330px;
    height: 120px;
    margin: 5px 20px 20px 20px;
    border: none;
    border-radius: 30px 30px 30px 30px;
    background-color: hsl(224, 30%, 27%);
    font-weight: 700;
    color: rgb(230, 218, 218);
    font-size: 16px;
}

button:active {
    background: linear-gradient(180deg, rgba(120,87,255,1) 3%, rgba(46,43,233,1) 66%);
}

img {
    display: block;
    max-width: 100%;
    margin-right: 8px;
}

@media (min-width: 1024px) {
    .container-max {
        flex-direction: row;
        width: 735px;
        height: 515px;
    }

    .violet-card {
        border-radius: 35px;
        width: 50%;
        height: 100%;
    }

    .white-card {
        border-radius: 35px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .violet-card__score {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 180px;
        height: 180px;
    }

    .violet-card__great {
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 15px;
    }

    .violet-card__text {
        margin: 0 60px 0 60px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .violet-card__your-result {
        font-weight: 500;
        margin-top: 20px;
        font-size: x-large;
        color: hsl(227, 11%, 84%);
    }

    button {
        width: 290px;
        height: 120px;
        margin: 30px 20px 40px 40px;
    }

    .white-card__sector {
        margin: 10px 0 10px 40px;
        width: 290px;
        height: 110px;
        font-weight: 500;
        font-size: 16px
    }
}